
@import url(https//db.onlinewebfonts.com/c/cced4e510c3db5d90f32c0732eddaf8a?family=Futura);
@import url(https//db.onlinewebfonts.com/c/952bab25f6798d6bb1937d67e9bee4dd?family=Sans);
*{
	margin: 0;
	padding: 0;
box-sizing: border-box;
}
body{
	background: #ffffff;
}
a{
	text-decoration: none;
}
#head1{
	width:100%;
	background: #ffffff;
	}
.navbar{
	border-bottom:3px solid #85E6CD;
	padding: 35px 0;
	color:#4C4C4C;
}
.navbar-default .navbar-brand {
	color:#373737;
}
.navbar-default{
	background: #ffffff;
}
.navbar-default .navbar-nav>li>a {
	color: #000000;
}
.navbar-default .navbar-brand1  {
	color: #A9E7D1;
}
#home {
	background: url(banner.webp);
	min-height: 650px;
	background-size: cover;
	}
	.banner_in {
	background: rgba(0,0,0,0.5);
	min-height: 650px;
}
.okb
{
	padding-top:20px;
	line-height: 7.1em;
}
.btn-primary{
	background: #50DAAC;
	padding: 10px 26px;
	text-transform: uppercase;
	border: none;
}
.btn-primary a{
	color: #fff;
	text-decoration: none;
	}
.btn-primary:hover{
	background:#FFD575;
	font-weight: bold;
	color: #000;
	transition: 0.6s;
}
.uzz a:hover{
	color: #000;
}
.bg1
{
	width: 100%;
	min-height: 108px;
	background: #FFC041;
}
.bg1 h1{
	color: #000;
	font-size: 3em;
	line-height: 9px;
	font-family:futura-lt-w01-light,sans-serif;
	padding-top: 24px;
	}
.bg1 h1:after{
	content: "";
		border-bottom: 4px solid #000;
		width: 20px;
	}
.bg2{
	background: #FFFFFF;
	}
.line{
	border:3px solid #85E6CD;
	border-top: none;
	border-left: none;
	border-right: none;
	padding: 22px 0;
}
.spanf{
	padding: 35px 0;
	font-weight: bold;
	font: normal normal normal 42px/1.41em oswald-medium,oswald,sans-serif;
    color: #000000;
}
.bg11
{
	width: 100%;
	min-height: 150px;
	background: #FFC041;
}
.bg11 h1{
	padding-top: 30px;
	
}
.texb{
	padding: 45px 0;
}
.puja{
	padding-top: 40px;
}
.imgbt h1{
	padding-bottom: 20px;
}
.imgbt img{
	width: 100%;
}
.syard h1{
	color: #000;
	font-weight: bolder;
	border-bottom: 2px solid #000;
}
