*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #F2F3EB;
	font-family: arial, sans-serif;
	font-size: 18px;
	line-height: 0.2px;
}
header{
	background: #43494D;
	text-align: center;
	height: 110px;
	position: relative;
}
.logo{
	float: left;
	padding-top: 50px;
	}
	.ban{
	background-size: contain;
	height:500px;
	}
.logo a{
	color: #ffffff;
}

nav {
	background-color: transparent;
	transition: all 0.3s;
	line-height: 40px;
	padding-top: 40px;
	
	}
nav ul{
	float:right;
	
	}
	nav ul li{
	list-style: none;
	display: inline;
	padding-right: 40px;
	}
	nav ul li a{
	
	text-align: center;
	color: #ffffff;
}
a{
	text-decoration: none;
	}
a:hover{
	color:#BD352D;
}
.container1{
	width: 100%;
	height: auto;
	background: #43494D;
}
.container{
	width: 1140px;
	margin: auto;
}
.banner{
	background: url('puja.jpg') no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.banner_in{
	background: rgba(0,0,0,0.5);
	height: 700px;
}
.banner-text {
	position: absolute;
	color: #fff;
	left: 20%;
	top: 10%;
	font-weight: bolder;
	font-size: 27px;
	border-top-left-radius: 6px solid #d60000;
	
}
.banner-text1 {
	position: absolute;
	color: #fff;
	font-weight: bolder;
	font-size: 27px;
	left: 20%;
	top: 17%;

}
.banner-text2 {
	position: absolute;
	color: #fff;
	font-weight: bolder;
	font-size: 27px;
	left: 20%;
	top: 23%;

}
.container2{
	width: 100%;
	height: auto;
	background: #000000;
}
footer{
	height: 200px;
	color: #ffffff;
}
.form a{
	color:#fff;
}
.form a:hover{
	color: #55aa00;
}
.form h2{
	font-size: 28px;
	color: #fff;
	font-weight: 600;
	padding: 55px 0px;
	text-align: center;
}
