*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Honey Script', sans-serif;
}
@font-face {
    font-family: 'Honey Script';
    font-style: normal;
    font-weight: 300;
    src: local('Honey Script'), url('https://fonts.cdnfonts.com/s/199/HoneyScript-Light.woff') format('woff');
}
.container-fluid {
   max-width:1200px;
}
.backgrond{
	  background: url("../homepag.jpg");
	  background-size: cover;
	  min-height: 1250px;
}
.headh{
	max-height: 186px !important;
}
.bc1{
	font-family: [HoneyScript];
}
.banner{
height: auto;

}
.btext{
	
	color: #ffffff;
	font-size: 17px;
	font-weight: bold;
	width: 300px;
	/*padding: 64px 0 0 70px !important;*/
	padding: 44px 0 0 0 !important;
}
.paris{
	
	padding: 4px 30px 5px 0 !important;
}
.contact{
	width: 300px !important;
	padding: 20px 0 0 40px !important;
}
.votre{
	padding: -10px 0 30px 0 !important;
}
.flag{
	/*width: 100px !important;*/
	padding: 40px 0 0 0 !important;
}
.justify-content-center1 {
	padding-left: 80px !important;
}
.navbar-inverse{
	background: #080808 !important;
}
.navbar-inverse .navbar-nav>li>a {
	font-weight: 600;
	color: #ffffff !important;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: #9d9d9d !important;
}
.cont{
	font-size: 17px;
	font-weight: 600;
	color: #ffffff;
	font-family: Courier (T1);
}


/*=================================================================
  Product
==================================================================*/
.product-item {
  margin-bottom: 30px;
}

.product-item .product-thumb {
  position: relative;
}

.product-item .product-thumb img {
  width: 100%;
  height: auto;
  border: 3px solid #9C0966;
  padding: 5px;
}

.product-item .product-thumb .bage {
             position: absolute;
            color: #9C0966;
            top: 90px;
            right: 140px;
            display: inline-block;
            font-weight: 600;
            margin: 0 0 0 -39px;

            text-align: left;
            transform: rotate(-90deg);
            transform-origin: left;
            white-space: nowrap;
            font-size: 24px;
            
 
}

.product-item .product-thumb:before {
  transition: .3s all;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.product-item:hover .product-thumb:before {
  opacity: 1;
}

.product-item:hover .preview-meta {
  opacity: 1;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.product-item .product-content {
  text-align: center;
}

.product-item .product-content h4 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 6px;
}

.product-item .product-content h4 a {
  color: #000;
}
.prtop {
	padding-top: 30px;
}
.imgs {
	padding-top:30px;
}
.imgs1 {
	padding-top:40px;
}

.feature {
  border: 2px solid #9C0966;
}
.spacer{
	padding: 16px;
}
.hilton img{
	height:100px !important;
}
.hilton1 img{
	height:120px !important;
}
.footerb{
	background:#000000;
	color: #ffffff;
}
.ftop{
	padding:30px;
	font-size: 19px;
	font-weight: 600;
}
.lfoot p{
	font-size:17px;
}
.lfoot span{
	font-size: 12px;
	padding-top: -10px;
}
.fspace{
	padding-bottom:20px !important;
}
